<%= turbo_frame_tag wish_list do %>
  <div class="card w-60 bg-base-200 shadow-xl m-8">
    <%= link_to wish_list_path(wish_list) do %>
      <figure class="px-10 pt-2">
        <%= image_tag "present_box.png", class: "rounded-xl", size: "150x150" %>
      </figure>
      <div class="card-body items-center text-center pt-2 link link-hover">
        <h2 class="card-title"><%= wish_list.list_name %></h2>
      </div>
    <% end %>
    <%= render 'crud_menus', wish_list: wish_list %>
  </div>
<% end %>