<% content_for(:title, t('.title')) %>
<div class="my-16 pb-8">
  <div class="mb-16 text-2xl text-center font-semibold">
    <h1><%= t('.title') %></h1>
  </div>

  <!-- リスト検索フォーム -->
  <% if @wish_lists.present? %>
    <%= render 'search_form', url: wish_lists_path %>
  <% else %>
    <div class="text-center mb-14">
      <ul class="steps">
        <li class="step step-primary">リスト作成</li>
        <li class="step">商品追加</li>
        <li class="step">リストシェア</li>
      </ul>
    </div>
  <% end %>

  <!-- リスト作成ボタン -->
  <div class="text-center rounded-lg">
    <%= link_to t('.create'), new_wish_list_path, class: "btn btn-wide btn-primary text-red-100" %>
  </div>

  <!-- 欲しいものリスト一覧 -->
  <%= turbo_frame_tag "wish_list" do %>
    <% if @wish_lists.present? %>
      <%= turbo_frame_tag "wish_lists-page-#{@wish_lists.current_page}" do %>
        <div class="flex flex-wrap justify-evenly pt-6">
          <%= render @wish_lists %>
        </div>
        <%= turbo_frame_tag "wish_lists-page-#{@wish_lists.next_page}", loading: :lazy, src: path_to_next_page(@wish_lists) %>
      <% end %>
    <% else %>
      <p class="mt-8 pt-6 font-semibold text-center"><%= t('.no_result') %></p>
    <% end %>
  <% end %>
</div>