<% content_for(:title, t('.title')) %>
<div class="my-16 pb-8">
  <div class="mb-16 text-2xl text-center font-semibold">
    <h1><%= t('.title') %></h1>
  </div>

  <!-- リスト検索フォーム -->
  <%= render 'search_form', url: wish_lists_path %>

  <!-- リスト作成ボタン -->
  <div class="text-center rounded-lg pt-6">
    <%= link_to t('.create'), new_wish_list_path, class: "btn btn-primary text-red-100" %>
  </div>

  <!-- 欲しいものリスト一覧 -->
  <div class="flex flex-wrap justify-evenly pt-6">
    <% if @wish_lists.present? %>
      <%= render @wish_lists %>
    <% else %>
      <p><%= t('.no_result') %></p>
    <% end %>
  </div>
  <div class="pb-8">
    <% if @wish_lists.present? %>
      <%= paginate @wish_lists %>
    <% end %>
  </div>
</div>