<% content_for(:title, @wish_list.list_name) %>
<% set_meta_tags(og: { title: "BESPRE 欲しいものリスト【#{@wish_list.list_name}】です！",
                       description: "#{current_user.name}さんの欲しいものリストを確認してメッセージを送ってあげよう",
                       image: image_url('ogp.png') },
                       twitter: { card: 'summary_large_image' }) %>
<div class="my-16 pb-8">
  <div class="mb-10 text-2xl text-center font-semibold">
    <% if current_user.own?(@wish_list) %>
      <h1><%= t('.title') %></h1>
    <% else %>
      <h1><%= "#{@wish_list.user.name} の" %></h1>
      <h1><%= "欲しいものリスト" %></h1>
    <% end %>
  </div>

  <!-- リスト名 -->
  <div class="card pb-4">
    <figure class="px-10">
      <%= image_tag "present_box.png", class: "rounded-xl", size: "150x150" %>
    </figure>
    <div class="card-body items-center text-center pt-4">
      <h2 class="card-title"><%= @wish_list.list_name %></h2>
    </div>
  </div>

  <% if current_user.own?(@wish_list) && @item.present? %>
    <!-- STEP3 -->
    <div class="text-center mb-10">
      <ul class="steps">
        <li class="step step-primary">リスト作成</li>
        <li class="step step-primary">商品追加</li>
        <li class="step step-primary">リストシェア</li>
      </ul>
    </div>
    <!-- SNSシェアボタン -->
    <%= render 'share_button' %>
  <% elsif current_user.own?(@wish_list) && @item.blank? %>
    <!-- STEP2 -->
    <div class="text-center mb-10">
      <ul class="steps">
        <li class="step step-primary">リスト作成</li>
        <li class="step step-primary">商品追加</li>
        <li class="step step">リストシェア</li>
      </ul>
    </div>
  <% end %>

  <!-- 商品追加ボタン or メッセージ作成ボタン -->
  <div class="flex justify-evenly my-6">
    <% if current_user.own?(@wish_list) %>
      <%= link_to t('.list.add'), new_wish_list_item_path(@wish_list), class: "btn btn-wide btn-primary text-red-100" %>
    <% else %>
      <%= render 'send_message' %>
    <% end %>
  </div>

  <!-- リストに保存した商品一覧 -->
  <div  class="flex flex-wrap justify-evenly">
    <%= render 'items/save_items', { item: @item }  %>
  </div>
  <div class="pb-8">
    <% if @item.present? %>
      <%= paginate @item %>
    <% end %>
  </div>
</div>