<% content_for(:title, @wish_list.list_name) %>
<div class="pt-3 my-16">
  <div class="mb-16 text-3xl text-center font-semibold">
    <h1><%= t('.title') %></h1>
  </div>
  <div class="card w-60 bg-base-200 shadow-xl m-8 m-auto">
    <figure class="px-10 pt-2">
      <%= image_tag "present_box.png", class: "rounded-xl", size: "150x150" %>
    </figure>
    <div class="card-body items-center text-center pt-5">
      <h2 class="card-title"><%= @wish_list.list_name %></h2>
    </div>
    <div>
        <%= render 'items/save_items', { item: @item }  %>
    </div>
    <div class="flex justify-evenly my-4">
      <%= link_to t('.list.add'), new_wish_list_item_path(@wish_list), class: "btn btn-active btn-primary" %>
    </div>
  </div>
</div>