<% content_for(:title, @wish_list.list_name) %>
<% set_meta_tags(og: { title: "欲しいものリスト【#{@wish_list.list_name}】です！",
                      description: "欲しいものリストを確認してメッセージを送ってあげよう",
                      image: image_url('ogp.png') },
                      twitter: { card: 'summary_large_image' }) %>
<div class="my-16 pb-8" data-controller="modal">
  <div class="mb-10 text-2xl text-center font-semibold">
    <% if logged_in? && current_user.own?(@wish_list) %>
      <h1><%= t('.title') %></h1>
    <% else %>
      <h1><%= "#{@wish_list.user.name} の" %></h1>
      <h1><%= "欲しいものリスト" %></h1>
    <% end %>
  </div>

  <!-- リスト名 -->
  <div class="card pb-4">
    <figure class="px-10">
      <%= image_tag "present_box.png", class: "rounded-xl", size: "150x150" %>
    </figure>
    <div class="card-body items-center text-center pt-4">
      <h2 class="card-title text-2xl"><%= @wish_list.list_name %></h2>
      <% if @wish_list.date.present? %>
        <p class="pt-2 text-xl"><%= " #{l @wish_list.date}" %></p>
      <% end %>
    </div>
  </div>

  <% if logged_in? && current_user.own?(@wish_list) && @item.present? %>
    <!-- STEP3 -->
    <div class="text-center mb-10">
      <ul class="steps">
        <li class="step step-primary">リスト作成</li>
        <li class="step step-primary">商品追加</li>
        <li class="step step-primary">リストシェア</li>
      </ul>
    </div>
    <!-- SNSシェアボタン -->
    <%= render 'share_button' %>
  <% elsif logged_in? && current_user.own?(@wish_list) && @item.blank? %>
    <!-- STEP2 -->
    <div class="text-center mb-10">
      <ul class="steps">
        <li class="step step-primary">リスト作成</li>
        <li class="step step-primary">商品追加</li>
        <li class="step step">リストシェア</li>
      </ul>
    </div>
  <% end %>

  <!-- 商品追加ボタン or メッセージ作成ボタン -->
  <div class="flex justify-evenly my-6">
    <% if logged_in? && current_user.own?(@wish_list) %>
      <%= link_to t('.list.add'), new_wish_list_item_path(@wish_list), class: "btn btn-wide btn-primary text-red-100" %>
    <% else %>
      <%= render 'send_message' %>
      <!-- リスト作成モーダル -->
      <div data-modal-target="modal" data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close" class="hidden fixed m-auto w-screen h-screen top-0 left-0 bg-gray-700/50 z-10">
        <div class="card absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-80 h-max bg-base-100 p-10">
          <%= turbo_frame_tag "new_message" %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- リストに保存した商品一覧 -->
  <div  class="flex flex-wrap justify-evenly">
    <%= render 'items/save_items', { item: @item }  %>
  </div>
  <div class="pb-8">
    <% if @item.present? %>
      <%= paginate @item %>
    <% end %>
  </div>
</div>