<% content_for(:title, t('.title')) %>
  <div class="my-16">
    <div class="mb-10 text-2xl text-center font-semibold">
      <h1><%= t('.title') %></h1>
    </div>
    <%= form_with model: @message, url: admin_message_path, local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="m-auto mb-4 space-y-8">
        <div class="w-full max-w-xs m-auto">
          <div class="mb-2">
            <%= f.label :text %>
          </div>
          <%= f.text_field :text, class: 'input input-bordered bg-white w-full max-w-xs' %>
        </div>
        <div class="text-center">
          <%= f.submit class: "btn btn-primary btn-sm text-red-100 my-6" %>
        </div>
      </div>
    <% end %>
  </div>
</div>