<div class="py-8">
  <div class="card w-96 bg-base-200 text-primary-content my-8 m-auto">
    <div class="text-2xl text-center font-semibold my-8">
      <h1><%= t '.title' %></h1>
    </div>
    <%= form_with model: @user, local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="space-y-4">
        <div class="w-full max-w-xs m-auto">
          <div class="mb-2">
            <%= f.label :name %>
          </div>
          <%= f.text_field :name, class: 'input input-bordered bg-white w-full max-w-xs' %>
        </div>
        <div class="w-full max-w-xs m-auto">
          <div class="mb-2">
            <%= f.label :email %>
          </div>
          <%= f.email_field :email, class: 'input input-bordered bg-white w-full max-w-xs' %>
        </div>
        <div class="w-full max-w-xs m-auto">
          <div class="mb-2">
            <%= f.label :password %>
          </div>
          <%= f.password_field :password, class: 'input input-bordered bg-white w-full max-w-xs' %>
        </div>
        <div class="w-full max-w-xs m-auto">
          <div class="mb-2">
            <%= f.label :password_confirmation %>
          </div>
          <%= f.password_field :password_confirmation, class: 'input input-bordered bg-white w-full max-w-xs' %>
        </div>
        <div class="text-center">
          <%= f.submit (t 'defaults.register'), class: 'btn btn-primary btn-wide text-red-100 my-8' %>
        </div>
      </div>
    <% end %>
    <div class='text-center pb-8'>
      <%= link_to (t '.to_login_page'), login_path, class: "link link-hover" %>
    </div>
  </div>
</div>