<div class="my-16">
  <div class="mb-10 text-2xl text-center font-semibold">
    <h1><%= t('mypages.show.title') %></h1>
  </div>
  <div class="justify-items-center">
    <div class="m-auto text-center space-y-8">
      <%= image_tag current_user.avatar.url, class: 'm-auto', size: '120x120' %>
      <div class="font-semibold text-xl">
        <%= current_user.name %>
      </div>
      <div class="text-xl">
        <%= current_user.email %>
      </div>
      <div class="pt-4">
        <%= link_to t('defaults.edit'), edit_mypage_path, class: 'btn btn-primary btn-sm text-red-100' %>
      </div>
    </div>
  </div>
  <div class="mt-20">
    <nav class="flex sm:flex-row justify-center">
        <%= link_to "贈ったメッセージ", sent_messages_mypage_path, class: "text-gray-600 py-4 px-6 block hover:text-secondary-focus focus:outline-none" %>
        <%= link_to "貰ったメッセージ", received_messages_mypage_path, class: "ext-gray-600 py-4 px-6 block hover:text-secondary-focus focus:outline-none text-secondary-focus border-b-2 font-medium border-secondary-focus" %>
    </nav>
    <div class="flex flex-col-reverse w-80 m-auto mt-8">
      <% @received_messages.each do |message| %>
        <div class="card card-compact w-60 bg-base-200 rounded-3xl text-center shadow-xl m-8 p-2">
          <%= image_tag message.message_image.url, class:"rounded-3xl" %>
          <div class="card-body">
            <p class="divider text-primary-focus">プレゼント</p>
            <p><%= message.select_item %></p>
            <p class="divider text-primary-focus">メッセージ</p>
            <p class=""><%= message.text %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>