<% content_for(:title, t('.title')) %>
<div class="my-16">
  <div class="mb-10 text-2xl text-center font-semibold">
    <h1><%= t('.title') %></h1>
  </div>
  <div class="justify-items-center">
    <div class="m-auto text-center space-y-8">
      <%= image_tag current_user.avatar.url, class: 'm-auto rounded-full', size: '120x120' %>
      <div class="font-semibold text-xl">
        <%= current_user.name %>
      </div>
      <div class="text-xl">
        <%= current_user.email %>
      </div>
      <div class="pt-4">
        <%= link_to t('defaults.edit'), edit_mypage_path, class: 'btn btn-primary btn-sm text-red-100' %>
      </div>
    </div>
  </div>
  <%= render "messages/message_list", { messages: @sent_messages } %>
</div>