<% content_for(:title, t('.title')) %>
  <div class="my-16 ">
    <div class="mb-16 text-3xl text-center font-semibold">
      <h1><%= t('.title') %></h1>
    </div>
    <div class="flex flex-row m-auto px-36">
      <div class="basis-1/3">
        <%= image_tag current_user.avatar.url, class: 'm-auto rounded-full', size: '150x150' %>
      </div>
      <div class="basis-2/3 bg-neutral-content rounded-3xl h-40 mr-72 space-y-4">
        <div class="font-semibold pt-6 pl-6">
          <%= current_user.name %>
        </div>
        <div class="pl-6">
          <%= current_user.email %>
        </div>
        <div class="text-center">
          <%= link_to t('defaults.edit'), edit_mypage_path, class: 'btn btn-primary btn-sm text-red-100' %>
        </div>
      </div>
    </div>
  </div>
</div>