<% content_for(:title, t('.title')) %>
<%= search_form_for @search, url: admin_wish_lists_path, html: { data: { turbo_frame: "wish_lists" } } do |f| %>
  <div class="input-group  mb-4">
    <label class="label">
      <p class="label-text text-xl">検索条件</p>
    </label>
    <%= f.search_field :list_name_cont, class: 'input input-bordered ml-4', placeholder: "リスト名" %>
    <div class="input-group-append ml-4">
      <%= f.submit '検索', class: "btn btn-square" %>
      <%= link_to "クリア", admin_wish_lists_path, class: "btn" %>
    </div>
  </div>
<% end %>
<div class="divider"></div>
<%= turbo_frame_tag "wish_lists" do %>
  <div class="overflow-x-auto">
    <table class="table w-full">
      <thead>
        <tr>
          <th><%= sort_link(@search, :list_name) %></th>
          <th>商品数</th>
          <th>作成者</th>
          <th><%= sort_link(@search, :created_at) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @wish_lists %>
      </tbody>
    </table>
    <%= paginate @wish_lists %>
  </div>
<% end %>