<% @items.each do |item| %>
  <div class="card card-compact w-60 bg-base-200 rounded-3xl text-center shadow-xl m-8">
    <div class="card-body">
      <%= image_tag item.image, class: "pb-4 object-scale-down w-52 h-52"  %>
      <p class="text-xl link link-hover"><%= link_to item.item_name, "#{item.url}", target: :_blank, rel: "noopener noreferrer" %></p>
      <p class="text-xl"><%= number_with_delimiter(item.price) %>円</p>
    </div>
    <%= form_with model: item, url: wish_list_items_path, class:"mb-4", local: true do |f| %>
      <%= f.hidden_field :item_name, :value => item.item_name %>
      <%= f.hidden_field :price, :value => item.price %>
      <%= f.hidden_field :image, :value => item.image %>
      <%= f.hidden_field :url, :value => item.url %>
      <%= f.hidden_field :save_list, :value => @wish_list.list_name %>
      <%= f.submit t('defaults.item.add'), class: "btn btn-primary text-red-100" %>
    <% end %>
  </div>
<% end %>