<div class="my-16 pb-8 text-primary-content m-auto">
  <div class="mb-14 text-2xl text-center font-semibold">
    <h1>商品を検索</h1>
  </div>
  <div class="form-control">
    <%= form_with url: new_wish_list_item_path, method: :get, local: true do |f| %>
      <div class="input-group justify-center pb-8">
          <%= f.search_field :keyword, value: params[:keyword], class: "input input-bordered w-60", placeholder: "商品名" %>
          <%= f.submit '検索', class: "btn btn-square" %>
      </div>
    <% end %>
    <div class="flex flex-wrap justify-evenly">
      <% if @items.present? %>
        <%= render 'item' %>
      <% else %>
        <p class="mt-8 font-semibold"><%= t('.no_result') %></p>
      <% end %>
    </div>
  </div>
  <div class="pb-8">
    <% if @items.present? %>
      <%= paginate @items %>
    <% end %>
  </div>
</div>