<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title), admin: true) %></title>
    <%= display_meta_tags(default_meta_tags) %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="font-sawarabi">
      <%= render 'admin/shared/header' %>
      <%= render 'admin/shared/sidebar' %>
      <div class="pt-20 mb-14 ml-64 mr-4">
        <%= render 'shared/flash_message' %>
        <div class="pt-2 pb-4">
          <%= yield %>
        </div>
      </div>
      <%= render 'admin/shared/footer' %>
    </div>
  </body>
</html>