<% content_for(:title, t('.title')) %>
<%= search_form_for @search, url: admin_users_path, html: { data: { turbo_frame: "users_list" } } do |f| %>
  <div class="input-group  mb-4">
    <label class="label">
      <p class="label-text text-xl">検索条件</p>
    </label>
    <%= f.search_field :name_cont, class: 'input input-bordered ml-4', placeholder: "名前" %>
    <%= f.search_field :email_cont, class: 'input input-bordered ml-4', placeholder: "メールアドレス" %>
    <div class="input-group-append ml-4">
      <%= f.submit '検索', class: "btn btn-square" %>
      <%= link_to "クリア", admin_users_path, class: "btn" %>
    </div>
  </div>
<% end %>
<div class="divider"></div>
<%= turbo_frame_tag "users_list" do %>
  <div class="overflow-x-auto">
    <table class="table w-full">
      <thead>
        <tr>
          <th><%= sort_link(@search, :id) %></th>
          <th>アイコン</th>
          <th><%= sort_link(@search, :name) %></th>
          <th><%= sort_link(@search, :email) %></th>
          <th><%= sort_link(@search, :role) %></th>
          <th><%= sort_link(@search, :created_at) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
    </table>
    <%= paginate @users %>
  </div>
<% end %>
