<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GC534PPTJ9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-GC534PPTJ9');
    </script>
    <title><%= page_title(yield(:title)) %></title>
    <%= display_meta_tags(default_meta_tags) %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="font-sawarabi">
      <%= render 'shared/header' %>
      <%= render 'shared/flash_message' %>
      <%= yield %>
      <div class="font-sawarabi">
        <% if logged_in? %>
          <%= render 'shared/bottom_navbar' %>
        <% else %>
          <%= render 'shared/before_login_bottom_navbar' %>
        <% end %>
      </div>
    </div>
  </body>
</html>
